/*1*/
blockquote{
     color: blue;
            }

  
   
/*2*/
  .list li a[href^="https://"]{
      color: red;
  }

  .list li:nth-child(4){
      background-color: green;
  }
  .list+p {
      font-size: 26px;
  }

/* 3*/

  .text-box h3:nth-child(1) {
        color: pink;
  }

  #greycol {
    color: grey;
  }
  .text-box div p{
      color: red;
  }
  .text-box p:nth-child(7){
    color: green;
  }
 p.yellow {
    color: yellow;
}

/*4*/

.bg-box{
    background:url("../img/lamp-png-0.png") top left / 60px 50px repeat-x,
    url("../img/grass-png-images-pictures-transparent-28.png") bottom / 300px 250px repeat-x,
    url("../img/pole-zelen-trava-dom-derevya.jpg") center / 800px 700px no-repeat,
    url("../img/58eb07b830eab15b56162788.png") right / 50px 50px repeat-y,
    url("../img/QQQ.png") left / 50px 50px repeat-Y;
   background-color: green;
    height: 900px;
    width: 100%;
}
